<div class="branding">
	<div class="site-image">
		<a href="{{ site.url }}">
			<img alt="{{ site.name }}" class="site-logo" src="{{ site.logo }}">
		</a>
	</div>
	<p class="site-title">
		<a href="{{ site.url }}" rel="home">{{ site.name }}</a>
	</p>
</div>
